__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
healthcare_env/
venv/
.venv/
*.sqlite3
.DS_Store
*.log
database/credentials.ini
.env
.venv
instance/
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/
.ipynb_checkpoints/
